*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

h2{
    font-size: 32px;
}

header{
    background-color: rgb(18, 42, 87);
    color: white;
}

.headerMenu{
background-color: none;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
margin: 0 178.5px 0 178.5px;
}

.listaHeader{
    background-color: none;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;    
}

.listaHeader li a{
    color: white;
    text-decoration: none;
    margin-right: 20px;
} 

.flexSection{
    margin: 0 178.5px 0 178.5px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden; 
}

.section1{
    background-color: none;
    height: 90vh;

}
.section2{
    background-color: none;   
}

.containerApresentacao1{
    margin: 0;
    align-items: flex-end;
}

.img1{
    width: 626px;
}

.img2{
    width: 420px;
}

.containerApresentacao1 h1{
    font-size: 48px;
    font-weight: 700;
    color: rgb(18, 42, 87);
    margin-bottom: 10px;
}

.containerQuemSomos{
    text-align: left;
}

.containerQuemSomos h2{
    color: rgb(18, 42, 87);
    font-weight: 700;
    margin-bottom: 10px;

}

.containerQuemSomos h2::before{
    content: ".";
    height: 50px;
    width: 5px;
    margin-right: 5px;
    background-color: #122A57 ;
}

.containerQuemSomos p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.linkSaibaMais{
    background-color: #122A57;
    display: flex;
    justify-content: center;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 10px;
    line-height: 50px;
    width: 220px;
}

.section3{
    background-color: rgb(18, 42, 87);
}

.section3 H2{
    color: white;
    margin: 0 178.5px 50px 178.5px;
    padding: 50px 0 0 0 ;
}

.containerServicos{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 178.5px 0 178.5px;
    padding: 0 0 100px 0;
}

.itemServico{
    text-align: center;
    color: white;
}

.itemServico img{
    width: 160px;
    margin: 0 20px 0 20px;
}

.itemServico p{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.itemServico a{
    background-color: white;
    color: rgb(18, 42, 87);
    font-size: 14px;
    font-weight: 700;
    border-radius: 30px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
}

.section4{
    margin: 0 178.5px 0 178.5px; 
    
}

.section4 h2{
    color: black;
    padding: 50px 0 0 0 ;
}


.containerPlanos{
    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-bottom: 40vh;
    
}

.section4 h2{
   color: preto;
}

.itemPlano{
    border: solid 5px rgb(18, 42, 87);
    padding: 10px;
    
}

.itemPlano ul{
    padding: 0px 25px 0px 25px;
    list-style: none;   
    margin-bottom: 20px;
}

.itemPlano li::before{
    content:"\25A0";
    font-size: 1.5rem;
    color: #122A57;
    vertical-align: center;
    padding-right: 3px;
}

.itemPlano a{
    margin: auto;
    margin-bottom: 20px;
}

.itemPlano h3{
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.itemPlano h3::after {
    content: "";
    background-color: #122A57;
    width: 100%;
    height: 3px;
    margin-top: 20px;
    margin-bottom: 10px;
}

hr{
    border: 1.5px solid #122A57;
    background-color: #122A57;
    margin-top: 25px;
    margin-bottom: 20px;
}

footer{ 
    background-color: #122A57;   
}

.footerContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    margin: 0 178.5px 0 178.5px; 
    color: white;
}